
#login-form {
    min-width: 250px;
    max-width: 450px;
    width: 50%;

    max-height: 650px;
    height: 100%;

    padding: 10pt;

    background-color: #f8f8f8;
    border-radius: 6px;
}

.card-body.slide-in-down {
    display: none;
}

.card-body.slide-in-down.enabled {
    animation-duration: 0.5s;
    animation-name: grow-in;
    display: block;
}

.card-body.slide-in-down.disabled {
    animation-duration: 0.5s;
    animation-name: shrink-out;
    animation-fill-mode: forwards;
    display: block;
}

@keyframes grow-in {
    from {
        height: 0%;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 0;
    }
}

@keyframes shrink-out {
    100% {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
        opacity: 0;
    }
}

.hunger-scale-square {
    position: relative;
    width: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hunger-scale-square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.hunger-scale-square > .content {
    width: auto;
    height: auto;

    font-size: 1.5em;
    font-weight: bold;
    color: #fafafa;
}

.hunger-scale-color-1 {
    background-color: rgb(210, 60, 60);
}

.hunger-scale-color-2 {
    background-color: rgb(210, 110, 60);
}

.hunger-scale-color-3 {
    background-color: rgb(215, 215, 100);
}

.hunger-scale-color-4 {
    background-color: rgb(170, 200, 100);
}

.hunger-scale-color-5 {
    background-color: rgb(130, 180, 40);
}

.hunger-scale-color-6 {
    background-color: rgb(170, 200, 100);
}

.hunger-scale-color-7 {
    background-color: rgb(215, 215, 100);
}

.hunger-scale-color-8 {
    background-color: rgb(220, 150, 40);
}

.hunger-scale-color-9 {
    background-color: rgb(210, 110, 60);
}

.hunger-scale-color-10 {
    background-color: rgb(210, 60, 60);
}

.hunger-scale-pointer {
    width: 10%;
    display: flex;
    justify-content: center;
}

.hunger-scale-pointer > i {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

#form-image-carousel {
    width: 100%;
    height: 40vh;
}

.meal-card-carousel {
    height: 40vw;
}
